@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  scrollbar-gutter: stable;
  @apply bg-slate-950 text-white;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

