MODE=development
PORT=8080
DB_HOST=scylla
DB_PORT=9042
DB_KEYSPACE=kontestis
DB_DATACENTER=datacenter1
REDIS_URL=redis://redis:6379
NATS_SERVERS=nats://nats:4222
# NATS_CREDS_FILE=/run/secrets/kontestis-backend.creds
# NATS_PROVISION_CREDS_FILE=/run/secrets/kontestis-nats-admin.creds
NATS_EVALUATION_NAMESPACE=kontestis.evaluation.v1
EVALUATION_NATS_OBJECT_THRESHOLD_BYTES=16777216
NATS_EVALUATION_OBJECT_MAX_BYTES=2147483648
NATS_EVALUATION_QUEUE_MAX_BYTES=10737418240
NATS_EVALUATION_REPLICAS=1
NATS_EVALUATION_RESPONSE_TIMEOUT_MILLIS=518400000
NATS_EVALUATION_FILE_RETRY_LIMIT=5
OAUTH_CLIENT_ID=xxx.apps.googleusercontent.com
OAUTH_ALLOWED_DOMAINS=skole.hr
EVALUATOR_ENDPOINT=http://127.0.0.1:8081
S3_EVALUATOR_INSTANCE_URL=http://minio:9000

EMAIL_HOST=localhost
EMAIL_PORT=465
EMAIL_ACCOUNT_MAIL=test@example.com
EMAIL_ACCOUNT_DISPLAY_NAME=Kontestis
EMAIL_ACCOUNT_PASSWORD=pass123

DEFAULT_ORGANISATION_NAME=Kontestis
